*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A2430;
}


.inner_wrap{
width: 400px ;
height: 400px;
border: 1px solid #E81618;
background: rgba(255, 255, 255, 0.2);
border-radius: 12px;
padding: 20px;
}

h3{
    text-align: center;
    border-bottom: 1px solid blanchedalmond;
    padding-bottom: 5px;
    color: #fff;
}

.add_wrap{
    display: flex;
    align-items: center;
   padding: 20px 0;
}

.add_wrap input[type="text"]{
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px
}



.add_wrap button{
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 10px;
    border: 1px solid #E81618;
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.add_wrap button:hover{
    background: #E81618;
    cursor: pointer;
}

#taskList{
    list-style-type: none;
    max-height: calc(100% - 140px);
    overflow-y: auto;
}

#taskList li{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
#taskList li:not(:last-child){
    padding-bottom: 10px;
}